<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Meu Perfil - AbasteceAi</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container">
        <header>
            <h1><i class="bi bi-person"></i>Meu Perfil</h1>
        </header>
        <div class="card" style="text-align:center;">
            
            <h3>{{ conta.usuario }}</h3>
            <p>{{ conta.email }}</p>
            <p>Membro desde: Janeiro/2025</p>
        </div>
        <p class="link-rodape">
            <a href="{% url 'atualizar-conta' conta.id %}">Atualizar informações da conta</a>
        </p>
        <p class="link-rodape">
            <a href="{% url 'login' %}">Sair da conta</a>
        </p>
    </div>
</body>
</html>

